# Ignore all files AND directories
*
# but not this file!
!.gitignore
# Next, Unignore Application and Assets folder and all it's content
# First, application...
!application/
!application/*
!application/**/*
# And then the assets...
!assets/
!assets/*
!assets/**/*
